@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SarunProCondensed Regular';
  src: url('/fonts/SarunPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SarunProCondensed Bold';
  src: url('/fonts/SarunPro-Bold.ttf') format('truetype');
}


